<p>Playground for Angular Wrapper Kendo UI jQuery Controls</p>

<header>
    <button type="button" (click)="addRow()" class="k-button k-button-icontext k-grid-add"><span class="k-icon k-i-plus"></span>Add new row</button>
    <button type="button" (click)="editRow()" class="k-button k-button-icontext k-grid-edit"><span class="k-icon k-i-edit"></span>Edit 3rd row</button>
    <button type="button" (click)="removeRow()" class="k-button k-button-icontext k-grid-delete"><span class="k-icon k-i-close"></span>Remove 6th row</button>
    <button type="button" (click)="expand()" class="k-button k-button-icontext"><span class="k-icon k-i-folder-open"></span>Expand
      1st row</button>
<button type="button" (click)="select()" class="k-button k-button-icontext"><span class="k-icon k-i-select-all"></span>Select
  2nd row</button>
    <button type="button" (click)="clearSelection()" class="k-button k-button-icontext"><span class="k-icon k-i-clear-css"></span>Clear selection</button>
</header>

<ng-treelist #treelist [options]="options"></ng-treelist>
